*{
    /*outline: 1px dotted red;*/
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 20px;
}
.ninja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:3rem;
    padding:10px 0px 10px 10px;
    
    
    

}
img{
    width: 75%;
    outline: 3px solid black;
    
    
    
}
button{
    margin: 20px auto 20px auto;
    border-radius: 1px;
    width: 10%;
    color: white;
    background-color: green;

}